
#wrapper {
    width: 960px;
}

#top {
    height: 135px;
    line-height: 135px;
    margin-bottom: 5px;
}
#logo {
    height: 135px;
}

#pictureMiddle{
    padding: 18px;
}

#banner {
    width: 960px;
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
    background-size: cover;
    height: 550px;
}

#bannerLeft{
    width: 480px;
    height: 550px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#main {
    margin-top: 31px;
}

#panel1, #panel2, #panel3 {
    width: 320px;
}
#footer {
    height: 100px;
    line-height: 100px;
    background-color: black;
    clear:both;
    width: 960px;
    text-align: center;
}
#table {
    margin-top: 0px;
    margin-bottom: 131px;
}
#banner h1 {
    position: relative;
    top: 116px;
    left: 37px;
}

#banner h2 {
    position: relative;
    top: 120px;
    left: 330px;
}

.contentMargin {
    margin-left: 31px;
    margin-right: 31px;
}
.marginLeft {
    margin-left: 31px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.textCenter {
    text-align: center;
}

.thinBorder {
    border: 1px black solid;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}
.clearMargin {
    margin: 0px;
}

.clearPadding {
    padding: 0px;
}

.displayInline {
    display: inline;
}

.wrapperPaddingRight {
    padding-right: 31px;
}
.floatLeft {
    float: left;
}

.goldenSmall {
    width: 329px;
}

.goldenBig {
    width: 600px;
}

.goldenFont {
    line-height: 20px;
    font-size: 16px;
}

.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.textRight {
    text-align: right;
}

.colorWhite{
    color: white;
}
